{% extends "base.html" %}
{% block title %}
    <title>About</title>
{% endblock title %}

{% block content %}
    <h1>About</h1>
    <div class="div_txt_large">
    <p>Website designed and written as the capstone project for 100 days of code web building section.</p>
    <p>The course is delivered by Dr. Angela Yu, who is a pretty good tutor.  She gives you an outline of what is required for a project and
        slowly gives less and less details as you become more adept with the covered topics.  It is a little heavy on web and appi content
        for my liking but enjoyable none the less.
    </p>
    <p> the course can be accessed at:  <a href="https://www.udemy.com/course/100-days-of-code/" target="_blank" rel="noopener">Udemy 100 Days of Code</a>
    and is, in my opinion, well worth the price.</p>
    </div>
{% endblock content %}