{% extends "base.html" %}

{% block title %}
    <title>Biography</title>
{% endblock title %}

{% block content %}
    <h1>Short Biography</h1>
    <div class="div_biog">
        <h2>The Start</h2>
        <p>Born in Folkestone, Kent, my parents both worked in the catering industry.  My father was a Head Chef and my mother a Silver Service Waitress,
            both working in the same medium sized hotel on the just off The Lees in Clifton Gardens on the cliffs above the beaches.  Google map:
            <a href="https://www.google.com/maps/@51.0760929,1.1727555,34m/data=!3m1!1e3?entry=ttu&g_ep=EgoyMDI1MDgyNC4wIKXMDSoASAFQAw%3D%3D", target="_blank" rel="noopener">
                Clifton Gardens.</a>  I spent many happy hours playing in the hotel gardens with the children of the other staff and the manager.  When the weather was
                not good enough us kids were looked after in the staff sitting room by whoever was on break at the time.  Summers were great as we would often take the funicular lift
                to the bottom of the cliffs and spend the long post lunch service break sunbathing and swimming.  As I grew older I often helped out in the kitchen
                with washing up and doing the menial prep tasks for pocket money.
        </p>
        <p>
            I attended primary school at St. Mary's C of E primary on Grove Road.  Google map: <a href="https://www.google.com/maps/place/Grove+Rd,+Folkestone/@51.0849806,1.1855453,68m/data=!3m1!1e3!4m15!1m8!3m7!1s0x47debecc23ed1321:0x6fa238e530c86b5b!2sGrove+Rd,+Folkestone!3b1!8m2!3d51.0851302!4d1.1852128!16s%2Fg%2F1tkc5zc5!3m5!1s0x47debecc23ed1321:0x6fa238e530c86b5b!8m2!3d51.0851302!4d1.1852128!16s%2Fg%2F1tkc5zc5?entry=ttu&g_ep=EgoyMDI1MDgyNC4wIKXMDSoASAFQAw%3D%3D", target="_blank", rel="noopener">
                Grove Road Folkestone 
            </a>
            though it looks very much like the school building is gone now.  At 11 I moved on to Wyndgate Secondary School on <a href="https://www.google.com/maps/place/Park+Farm+Rd,+Folkestone/@51.0892631,1.1782426,548m/data=!3m1!1e3!4m6!3m5!1s0x47deb8d217a81763:0xac5547607aa50d0f!8m2!3d51.0929929!4d1.1715693!16s%2Fg%2F11f7243dlh?entry=ttu&g_ep=EgoyMDI1MDgyNC4wIKXMDSoASAFQAw%3D%3D", target="_blank", rel="noopener"> Parkfarm Road, Folkestone</a>
            at age 13 I changed schools after the family moved to Pent Valley Secondary on <a href="https://www.google.com/maps/place/Pent+Valley/@51.0905484,1.1495886,274m/data=!3m1!1e3!4m14!1m7!3m6!1s0x47debf34b8007995:0x4f4c98545a54dc63!2sPent+Valley!8m2!3d51.0901961!4d1.1496379!16s%2Fm%2F02pwq63!3m5!1s0x47debf34b8007995:0x4f4c98545a54dc63!8m2!3d51.0901961!4d1.1496379!16s%2Fm%2F02pwq63?entry=ttu&g_ep=EgoyMDI1MDgyNC4wIKXMDSoASAFQAw%3D%3D", target="_blank" rel="noopener">Harcourt Road </a>
            though it seems that both these schools have gone now.
        </p>
        <p>At age 14 I moved to Maidstone with my family and carried on my education at Oldboroughmanor Secondary on <a href="https://www.google.com/maps/place/Boughton+Ln,+Maidstone/@51.2491849,0.5313178,273m/data=!3m1!1e3!4m6!3m5!1s0x47df3196b525127b:0x934d7aae42836f6f!8m2!3d51.2460907!4d0.5311716!16s%2Fg%2F1th816s1?entry=ttu&g_ep=EgoyMDI1MDgyNC4wIKXMDSoASAFQAw%3D%3D" target="_blank", rel="noopener">Boughton Lane </a>
            although that school seems to have had a name-change.  I stayed there until leaving age and left with O Levels.
    </div>
{% endblock content %}