{% extends "base.html" %}

{% block title %}
    <title>Biography</title>
{% endblock title %}

{% block content %}
    <h1>Short Biography</h1>
    <div class="biog_div">
        <h2>The Start</h2>
        <p>Born in Folkestone, Kent, my parents both worked in the catering industry.  My father was a Head Chef and my mother a Silver Service Waitress,
            both working in the same medium sized hotel on the just off The Lees in Clifton Gardens on the cliffs above the beaches.  Google map:
            <a href="https://www.google.com/maps/@51.0760929,1.1727555,34m/data=!3m1!1e3?entry=ttu&g_ep=EgoyMDI1MDgyNC4wIKXMDSoASAFQAw%3D%3D", target="_blank" rel="noopener">
                Clifton Gardens.</a>  I spent many happy hours playing in the hotel gardens with the children of the other staff and the manager.  When the weather was
                not good enough us kids were looked after in the staff sitting room by whoever was on break at the time.  Summers were great as we would often take the funicular lift
                to the bottom of the cliffs and spend the long post lunch service break sunbathing and swimming.  As I grew older I often helped out in the kitchen
                with washing up and doing the menial prep tasks for pocket money.
        </p>
        <p>
            I attended primary school at St. Mary's C of E primary on Grove Road.  Google map: <a href="https://www.google.com/maps/place/Grove+Rd,+Folkestone/@51.0849806,1.1855453,68m/data=!3m1!1e3!4m15!1m8!3m7!1s0x47debecc23ed1321:0x6fa238e530c86b5b!2sGrove+Rd,+Folkestone!3b1!8m2!3d51.0851302!4d1.1852128!16s%2Fg%2F1tkc5zc5!3m5!1s0x47debecc23ed1321:0x6fa238e530c86b5b!8m2!3d51.0851302!4d1.1852128!16s%2Fg%2F1tkc5zc5?entry=ttu&g_ep=EgoyMDI1MDgyNC4wIKXMDSoASAFQAw%3D%3D", target="_blank", rel="noopener">
                Grove Road Folkestone 
            </a>
            though it looks very much like the school building is gone now.  At 11 I moved on to Wyndgate Secondary School on <a href="https://www.google.com/maps/place/Park+Farm+Rd,+Folkestone/@51.0892631,1.1782426,548m/data=!3m1!1e3!4m6!3m5!1s0x47deb8d217a81763:0xac5547607aa50d0f!8m2!3d51.0929929!4d1.1715693!16s%2Fg%2F11f7243dlh?entry=ttu&g_ep=EgoyMDI1MDgyNC4wIKXMDSoASAFQAw%3D%3D", target="_blank", rel="noopener"> Parkfarm Road, Folkestone</a>
            at age 13 I changed schools after the family moved to Pent Valley Secondary on <a href="https://www.google.com/maps/place/Pent+Valley/@51.0905484,1.1495886,274m/data=!3m1!1e3!4m14!1m7!3m6!1s0x47debf34b8007995:0x4f4c98545a54dc63!2sPent+Valley!8m2!3d51.0901961!4d1.1496379!16s%2Fm%2F02pwq63!3m5!1s0x47debf34b8007995:0x4f4c98545a54dc63!8m2!3d51.0901961!4d1.1496379!16s%2Fm%2F02pwq63?entry=ttu&g_ep=EgoyMDI1MDgyNC4wIKXMDSoASAFQAw%3D%3D", target="_blank" rel="noopener">Harcourt Road </a>
            though it seems that both these schools have gone now.
        </p>
        <p>At age 14 I moved to Maidstone with my family and carried on my education at Oldboroughmanor Secondary on <a href="https://www.google.com/maps/place/Boughton+Ln,+Maidstone/@51.2491849,0.5313178,273m/data=!3m1!1e3!4m6!3m5!1s0x47df3196b525127b:0x934d7aae42836f6f!8m2!3d51.2460907!4d0.5311716!16s%2Fg%2F1th816s1?entry=ttu&g_ep=EgoyMDI1MDgyNC4wIKXMDSoASAFQAw%3D%3D" target="_blank", rel="noopener">Boughton Lane </a>
            although that school seems to have had a name-change.  I stayed there until leaving age and left with O Levels.  I wasn't a particularly good student and couldn't wait to leave school, though I always ensured that my grades hovered around change.
        </p>
        <h2>The Rest</h2>
        <p>
            After leaving school I had no idea what I wanted to do with my life, having grown up in a small fishing town with an emphasis on the tourist trade
            where most jobs were highly seasonal the few choices for full time, year round work were minimal, mostly offered by the Port of Folkestone on the roros
            plying between Folkestone Harbour and Boulogne or local council in their maintenance departments.
        </p>
        <p>The prospects in Maidstone were somewhat better, it being the county town of Kent with the headquarters of the Kent County Council being in town and there being more businesses and trades with offices etc. in the town.
            On leaving school I worked on several local farms picking and packing hard fruits (apples and pears), I also learnt to drive a tractor and often humped the fruit boxes onto a trailer
            to take them back to the barn for QC checks, and helped with loading them onto the lorry for transport to market.
        </p>
        <p>
            At some point I got fed up with the seasonal nature of this work and made my way into labouring on building sites, working on several local and regional building projects
            lifting shifting, sweeping, helping out with concreting etc.  While working on a large, prestigious site in <a href="https://www.google.com/maps/place/Brighton,+Brighton+and+Hove/@50.8374649,-0.1473892,13z/data=!3m1!4b1!4m6!3m5!1s0x48758509f6294167:0x9cc6af7a727d0ef9!8m2!3d50.8229402!4d-0.1362672!16zL20vMGQ2eXY?entry=ttu&g_ep=EgoyMDI1MDgyNS4wIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopen"> Brighton</a>, I moved up to banksman slinger for the tower cranes and then moved on to
            operating the small crane in one corner of the site for several months.  When that job came to an end I worked on several sites in London operating several fixed and luffing jib cranes on major
            building projects.
        </p>
        <p>
            When the building went bust for the nth time I decided to re-skill, doing a 6 month stint of charity work clearing trees and fencing along the top of<a href="https://www.google.com/maps/place/Blue+Bell+Hill,+Chatham/@51.3317542,0.5018061,1090m/data=!3m2!1e3!4b1!4m6!3m5!1s0x47df3325f0e997a9:0x261185c6bcdafe92!8m2!3d51.3329064!4d0.5052375!16s%2Fm%2F02wxv0d?entry=ttu&g_ep=EgoyMDI1MDgyNS4wIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopen"> Bluebell Hill </a>
             and working on the garden of a local manor house, doing the heavy work to get the garden ready for replanting to it's former glory.  When this came to an end I tried to get work in this field but as we were deep in recession,
            these services were not in high demand.
        </p>
        <p>
            After some time unemployed I finally managed to get myself put onto a course learning how to use computers for business purposes and carried on to take the NVQ 3 in Business Administration working for a local training provider for 
            a few years as an administrator, then as an IT tutor presenting several entry level computing courses and helping school leavers with their word- and number-power levels.  When this job came to an end I continued working in Office Administration and that is where I still am.
        </p>
        <p>
            Latterly I took to working in various temp roles while I had care duties for an elderly relative suffering from<a href="https://www.mssociety.org.uk/" target="_blank" rel="noopen"> Multiple Schlerosis</a>, allowing me the flexibility to take time out at short notice or to take the odd hour out of the office if I got a call that the relative had taken a fall or needed me for some other reason.
            I am presently out of work and actively seeking my next role, having grown tired of the vagaries of temping for a few weeks here and a month there, I am now looking to get into full time permanent work or very long term temp work.
        </p>
        <p>
            I enjoy walking in the countryside and woods around the area of Kent where I live though, unfortunately, these areas are becoming harder to find as are orchards; I also enjoy reading and socialising.  I often walk down to 
            <a href="https://www.google.com/maps/place/Bearsted,+Maidstone/@51.2726123,0.578984,15z/data=!4m6!3m5!1s0x47df2de57b7f13b9:0x60fbb3350faf2c85!8m2!3d51.2744349!4d0.578956!16zL20vMDQzbWpq?entry=ttu&g_ep=EgoyMDI1MDgyNS4wIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopen">Bearsted</a> 
            to watch the cricket team play on the village green, and have to admit that I enjoy the occasional pint in<a href="https://www.oakonthegreen.com/" target="_blank" rel="noopen"> The Oak On The Green</a> when I am in work and have enough money to do so. To keep my brain from turning to mush I enjoy
            following courses provided by <a href="https://www.udemy.com/" target="_blank" rek="noopen">Udemy </a> having completed several of their python courses and one course on the use of R, I have a couple of courses ready to  go when I have finished the 100 Days of Code course, one in HTML and Java and another in MySql.
        </p>
    </div>

{% endblock content %}